<div class="col-xs-6 col-md-4">
    <div class="review_card">
      <% review.rating.to_i.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% (5 - review.rating.to_i).times do %>
      <i class="far fa-star"></i>
      <% end %>
      <br><br>
      <p><%= review.content %></p>
      <%= link_to review_path(review), method: :delete do %>
      <button id="delete"><i class="fas fa-trash-alt"></i> Delete</button>
      <% end %>
    </div>
  </div>
